<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appSettings>
		
	</appSettings>
	<connectionStrings>
		
	</connectionStrings>
		<authentication mode="None"/>
	<location path="View">
		<authorization>
			<deny users="*"/>
		</authorization>
	</location>
	<system.web>
		<httpHandlers>
			<add path="/data" verb="*" type="Intake.Web.View.Data"/>
		<!---
			<add path="/users" verb="*" type="Intake.Web.View.Users"/>
			<add path="/tags" verb="GET" type="Intake.Web.View.Tags"/>
			
			<add path="/login" verb="GET, POST" type="Intake.Web.View.Authentication"/>
			<add path="/logout" verb="GET" type="Intake.Web.View.Authentication"/>
			-->
			<add path="/about" verb="GET" type="Intake.Web.View.Static"/>
			<add path="/" verb="GET" type="Intake.Web.View.Static"/>
		</httpHandlers>
	</system.web>
</configuration>