<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="Authentication.Salt" value="xR54PuDw6IRPlLdHCt96b4SdHA6A3VHhZAHOwJcEjmxubLQ7leoCaYOQR8C8dYvr" />
    <add key="Authentication.Cookie.Name" value=".Authentication" />
    <add key="Authentication.Cookie.Path" value="/" />
  </appSettings>
  <connectionStrings>
    <add name="Intake" connectionString="Server=localhost; Port=5432; Database=intake; User Id=webserver; Password=daWebServah" providerName="Npgsql" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Framework Data Provider for Postgresql Server" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.0.1.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />
    </DbProviderFactories>
  </system.data>
  <authentication mode="Forms">
    <forms loginUrl="/login" path="/" />
  </authentication>
  <location path="data/new">
    <authorization>
      <deny users="?" />
    </authorization>
  </location>
  <location path="View">
    <authorization>
      <deny users="*" />
    </authorization>
  </location>
  <system.web>
    <pages enableViewState="false" />
    <httpModules>
    	<add name="Authentication Module" type="Intake.Web.View.AuthenticationModule"/>
    </httpModules>
    <httpHandlers>
      <!-- Static handler -->
      <add path="/users/new" verb="GET" type="Intake.Web.View.Static" />
      <add path="/login" verb="GET" type="Intake.Web.View.Static" />
      <add path="/about" verb="GET" type="Intake.Web.View.Static" />
      <add path="/" verb="GET" type="Intake.Web.View.Static" />
      <!-- Model handlers -->
      <add path="/data" verb="*" type="Intake.Web.View.Data" />
      <add path="/users/new" verb="*" type="Intake.Web.View.Users" />
      <add path="/users/*" verb="*" type="Intake.Web.View.Users" />
      <add path="/users" verb="*" type="Intake.Web.View.Users" />
      <!---Authentication handler -->
      <add path="/login" verb="POST" type="Intake.Web.View.Authentication" />
      <add path="/logout" verb="GET" type="Intake.Web.View.Authentication" />
    </httpHandlers>
    <compilation>
      <assemblies>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
</configuration>